/********* Start Page *****************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("images/login.jpg");
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    text-align: center;
    background: #FCFFFF;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.error-message{
    text-align: center;
    background: #E6E6E6;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box header{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.form-box form .input input{
    background-color: #E0EDF7;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn {
    height: 35px;
    background: #000101;
    border: 0;
    border-radius: 5px;
    color: #000; /* Set text color to black */
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}
.alert {
    text-align: center;
    background-color: #C1FAD6;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
/********* Home *****************/
.nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}